<div class="subtitle">Official Observations</div>

<p>
The current temperature in <%= @bom.name %> is <%= @bom.get_last_temp %>.
<br />
<% form_tag official_path, :method => 'get' do %>
    Station: <%= select_tag(:station_id, options_from_collection_for_select(@stations, :id, :name, params[:station_id].to_i)) %>
    <%= submit_tag "change", :name => nil %>
<% end %>
</p>



<div class="subsubtitle">Today</div>



<div class="subsubtitle">Recent days</div>
