<div class="subtitle">Welcome to my BOM experiments</div>

<p>
  Here you will find all kinds of experiments with BOM data.
</p>


<ul>
  <li>
    <%= link_to "Experiment #1", "/experiments/temp1" %>: A graph of todays temperature (works).
  </li>
    <li>
    <%= link_to "Experiment #2", "/experiments/temp2" %>: A graph of recent days temperatures (in progress).
  </li>
</ul>



<br />
<p>
<strong>TODOs</strong>
<ul>
  <li>Consider playing with flash graphs (i've used  <%= link_to "openflashchart", "http://teethgrinder.co.uk/open-flash-chart/" %> before).</li>
  <li>Deploy to world-facing location (perhaps <%= link_to "Heroku", "http://www.heroku.com" %>)</li>
  <li>Start designing (reception point + data model + infrastructure) for local temp sensor logging</li>
</ul>
</p>
