<div class="subtitle">Welcome to my BOM experiments</div>

<p>
  Here you will find all kinds of experiments with BOM data.
</p>


<ul>
  <li>
    <%= link_to "Experiment #1", "/experiments/temp1" %>: A graph of todays temperature.
  </li>
    <li>
    <%= link_to "Experiment #2", "/experiments/temp2" %>: A graph of recent days temperatures.
  </li>
</ul>
