<div class="subtitle">Welcome to my BOM experiments</div>

<p>
  Here you will find all kinds of experiments with BOM data.
</p>


<ul>
  <li><%= link_to "Temp graph", "/experiments/temp1" %></li>
</ul>
