<div class="subtitle">Temperature Experiment 6</div>

<p>
Graphs for station: <strong><%= @name %></strong>.
<br />
</p>


<p>
This page shows temperature data summarized as a <%= link_to "boxplots", "http://en.wikipedia.org/wiki/Box_plot" %>. 
The box shows the 25th and 75th percentiles of the data, the line in the box shows the central tendency, and the whiskers show the extrema of the data.
Outliers are not considered for now.
</p>

<p>
<strong>Temperature Over Recent Days</strong><br />
<% if @week.nil? or @week.empty? %>
  No Data.
<% else %>
  <img src="<%=sensor_summary_graph(@week, "Recent Days") -%>" />
<% end %>
<br />
</p>

<p>
<strong>Temperature Over Recent Weeks</strong><br />
<% if true %>
  No Data.
<% else %>
  No Data.
<% end %>
<br />
</p>

<p>
<strong>Temperature Over Recent Months</strong><br />
<% if true %>
  No Data.
<% else %>
  No Data.
<% end %>
<br />
</p>

<br />
<p>
<strong>TODOs</strong>
<ul>
  <li>Show weeks, months</li>
  <li>Provide overview stats</li>
</ul>
</p>
