<div class="subtitle">Temperature Experiment 4</div>

<p>
A graph of Today's temperature in <strong>Melbourne, Victoria, Australia</strong>
with data from the BOM and local sensors.
</p>



<br />
<p>
<strong>TODOs</strong>
<ul>
  <li>Graph of melb temperature and all stations with data for today</li>
  <li>Allow filtering by station/location</li>
</ul>
</p>
