<div class="subtitle">Temperature Experiment 6</div>

<p>
Graphs for location station: <strong><%= @name %></strong>.
<br />
<small>(This will KILL the database)</small>
</p>


<p>
Temperature over recent days summarized as a <%= link_to "boxplots", "http://en.wikipedia.org/wiki/Box_plot" %>. 
Box shows the 25th and 75th percentiles of the data, the line in the box shows the central tendency, and the whiskers show the extrema of the data.
Outliers are not consider for now.
</p>
<img src="<%=sensor_summary_graph(@week, "Recent Days") -%>" />




<br />
<p>
<strong>TODOs</strong>
<ul>
  <li>Show meaningful x axis for boxplots</li>
  <li>Show last week, month, year</li>
</ul>
</p>
