<div class="subtitle">Temperature Experiment 1</div>

<p>
A graph of Today's temperature.
</p>


<p>
There were <%= @temp_data.size %> temperature observations for today.
</p>

<p>
  <img src="<%=make_day_temp_graph_img_url(@temp_data) -%>" />
</p>

<p>
  The data comes from the <%= link_to "Latest Weather Observations for Melbourne", "http://www.bom.gov.au/products/IDV60801/IDV60801.94868.shtml" %>.
  <br />
  See the <%= link_to "JSON Source", @jsonurl %>.
</p>

<br />
<p>
<strong>TODOs</strong>
<ul>
  <li>Unclutter x axis labels.</li>
  <li>Separate y-axis labels from scaling method (nice/consistent labels)</li>
  <li>Summary information above graph (high, low, last time, etc)</li>
  <li>Aesthetics, make it look sexy</li>
</ul>
</p>
