<div class="subtitle">Temperature Experiment 4</div>

<p>
A graph of Today's temperature in <strong>Melbourne, Victoria, Australia</strong>
with data from the BOM and local sensors.
</p>

<p>
  <strong>Today (total observations=<%= @sensors_today.length %>)</strong> <br />
  <img src="<%=make_day_sensors_graph_img_url(@sensors_today, "Today", @bom_today) -%>" />
</p>

<p>
  <strong>Yesterday (total observations=<%= @sensors_yesterday.length %>)</strong><br />
  <% if @sensors_yesterday.empty? %>
    No data
  <% else %>
    <img src="<%=make_day_sensors_graph_img_url(@sensors_yesterday, "Yesterday", @bom_yesterday) -%>" />
  <%end%>
</p>




<br />
<p>
<strong>TODOs</strong>
<ul>
  <li>Select sensor data by station (site) and combine on graph (currently just selects all observations for time period)</li>
  <li>Allow filtering by station/location</li>
  <li>Map UTC to time zone of collected data</li>
</ul>
</p>
